body{
  margin:10px;
  background:#000;
}
#vid-container{
  height:500px;
  overflow:hidden;
  border: solid white
}
#vid{
  width:100%;
  height:1000px;
  opacity: .5;
 }
 .container{
   display: flex;
   justify-content: center;
   /* margin-top: -265px; */
   margin-top: -20%
 }
.text{
  color: white;
  font-size: 70px;
}
.containerbike{
  border:  solid white;
  display: flex;
  height: 300px;
  margin-top: 20%;
  align-items: flex-start;
}
.biketext{
  color: white;
  /* border: solid white; */
  font-size: 40px;
  margin-top: -52.5px;
  margin-left: -3px;
}
.bikepics{
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 10px;
}
.bike{
  width: 30%;
  height: 200px;
  align-items: center;
}
.containerauto{
  border:  solid white;
  display: flex;
  height: 300px;
  margin-top: 5%;
  justify-content: space-around;
}
.auto{
  width: 30%;
  height: 200px;
  /* flex-grow: 1; */
}
.auto1{
  /* flex-grow: 1; */
  width: 66%;
  height: 275px;
  margin-top: -35px;
}
