body{
  /* margin:10px; */
  background:#000;
}
#vid-container{
  height:500px;
  overflow:hidden;
  margin: -10px;
  /* border: solid yellow */
}

#vid{
  width:100%;
  height:1000px;
  opacity: .7;
 }
 .container{
   display: flex;
   justify-content: flex-start;
   margin-top: -15%
 }
.text{
  color: white;
  font-size: 70px;
  margin-top: -120px;
  margin-left: -5px;
}
.containerbike{
  border:  solid white;
  height: 300px;
  margin-top: 20%;
  display: block;
}
.biketext{
  color: white;
  /* border: solid white; */
  font-size: 40px;
  margin-top: -52.5px;
  margin-left: 10px;
}
.bikepics{
  display: flex;
  justify-content: space-around;

  margin: 50px 10px 10px 20px;
}
.bike{
  width: 30%;
  height: 200px;
  align-items: center;
  border: solid white;
}
.containerauto{
  border:  solid white;
  display: flex;
  display: block;
  height: 300px;
  margin-top: 5%;
  justify-content: space-around;
}
.auto{
  width: 26%;
  height: 215px;
  border: white;
}
.auto1{
  width: 66%;
  height: 275px;
  margin-top: -35px;
  border: white solid;
}
.autotext{
  color: white;
  /* border: solid white; */
  font-size: 40px;
  margin-top: -52.5px;
  /* margin-left: 200px; */
  margin-left: 25%
}
